/*logo*/
.header{width: 100%;height: 70px;border-bottom: 1px solid #ECECEC;background-color:#fff ;min-width: 800px;}
	.blank{width: 1150px;margin: 0 auto;}
		.header_logo{width: 100%;height: 100%;}
		.header_logo img{	width: 156px;height: 42px;float: left;margin-top: 16px;}
	.blank_right{width: 176px;height: 20px;float: right;margin-top: 26px;}
		.app{width: 34px;height: 11px;float: left;}
		.app a{display: block;width:14px;height:20px; background-size: auto 200px;
    			background-position: -38px -84px;background-image:url(../img/icon_bg.png);width: 14px;height: 20px;}
	
		.app a:hover{color: #4A4A4A;}
		.app div{position: absolute;width: 130px;height: 130px;
			    right: 170px;
			    top: 60px;
			    display: none;
			    z-index: 20;}
		.app span{width: 16px;
				height: 11px;
				position: absolute;top: -11px;left: 50%;margin-left: -8px;
    			background-image:url(../img/icon_bg.png);background-size: auto 200px;
    			background-position: -26px -162px;}
    				
    	.gouwu{width: 60px;height: 17px;float: left;}	
    		.gouwu a{display: block;
    				margin: 0 auto;
				    width: 17px;
				    height: 19px;
				    background-image:url(../img/icon_bg.png);
				    background-size: auto 200px;
				    background-position: 0px -84px;}
		.geren{width: 60px;height: 17px;float: left;}	
			.geren a{display: block;
					margin: auto;
					width: 21px;
				    height: 18px;
					background-image:url(../img/icon_bg.png);
				    background-size: auto 200px;
				    background-position: -17px -84px}
	.sousuo{float: right;
			margin-top: 20px;
		    position: relative;
		    height: 32px;
		    background: #F8F8F8;
		    border-radius: 16px;
		    cursor: pointer;
		    display: inline;
		    margin-right: 50px;
		    border: 1px solid #F8F8F8;}
		.sousuo input{width: 170px;
				    line-height: 34px;
				    border: 0px;
				    float: left;
				    font-size: 13px;
				    font-weight:600;
				    color: #4A4A4A;
				    height: 34px;
				    background: none;
				    text-indent: 6px;
				    outline: none;
				    text-indent: 16px;}
		.sousuo span{line-height: 34px;
				    float: right;
				    width: 30px;
				    height: 34px;}
		.sousuo span img{width: 19px;
					    height: 18px;
					    display: block;
					    margin-top: 7px;}	
		/*点击搜索框下拉内容*/
		#hot_list{position: absolute;
				    left: 12px;
				    top: 34px;
				    width: 272px;
				    height: auto;
				    background:white;
				    box-shadow: 0 0 2px #CCC;
				    display: none;
				    max-height: 210px;
				    overflow-y: scroll;
				    z-index: 100;}
		#hot_list li{height: 30px;
				    text-align: left;
				    font-size: 14px;
				    line-height: 30px;
				    text-indent: 15px;}
		#hot_list li:hover{background: #F8F8F8;}	    


.nav{position: relative;left: 0;top: 0;border-bottom: 1px solid #F8F8F8;width: 100%;}
	.nav_bar{width: 1150px;margin: 0 auto;}
	.nav_bar ul{line-height: 50px;display: inline-block;}
	.nav_bar ul li{float: left;margin-right: 44px;text-align: center; color: #4A4A4A;
				    font-size: 14px;display: inline;height: 50px;position: relative;}
	.nav_bar ul li a{display: block;}
	.nav_bar ul li a:hover{border-bottom: 1px solid #e74c3c;color: #e74c3c;}
	.nav_bar .box{position: absolute;top: -3px;left:auto;}
	.nav_bar .con{width:1150PX;background-color: #F8F8F8;position: absolute;left:0px;top:54px;display: none;
					font-size: 13px;line-height: 50px;height:50px;z-index: 100;}
	.nav_bar .con a{margin-right: 40px}
	.nav_bar .con a:hover{color: #f00}
	.nav_bar .ke{float: right; line-height: 48px; font-size: 14px; color: rgb(74, 74, 74); 
				padding-right: 24px; display: block;}
	
		
.footer_container {min-width: 1150px;width: 100%;height: 140px;margin-top: 140px; background: #F8F8F8;}
.footer{width: 1150px;margin: 0 auto;}
	 .footer_hlep{height: 25px;padding-top: 26px;overflow: hidden;margin-bottom: 32px;}
	 .footer_hlep li{float: left;margin-right: 66px;}
	 .footer_hlep li a{display: block;
							 padding-left: 30px;
							 height: 25px;
							 line-height: 25px;
							 color: #4A4A4A;
							 font-size: 12px;}
			.footer_hlep li a .ujp{background:url(../img/icon_bg.png);
								background-size: auto 200px;
								background-position: 0px -133px;}
		    .footer_hlep li a .shopping {background:url(../img/icon_bg.png);
									    background-size: auto 200px;
									    background-position: -210px -132px;}
			.footer_hlep li a .book{background:url(../img/icon_bg.png);
								background-size: 200px 200px;
    							background-position: 10px 2px;}	
	.footer_information{margin-top: 32px;width: 1150px;height: 20px;}
		.footer_information p{float: left;
						    height: 20px;
						    font-size: 12px;
						    overflow: hidden;
						    margin-left: 50px;}
		.footer_information p span{padding-right: 22px;
							    padding-left: 22px;
							    border-right: 1px solid #4A4A4A;}
		.footer_information p span .first{    padding-left: 10px;}
		.footer_information p span .last{border-right: none;}
		.footer_information dl{float: right;
							    height: 19px;
							    margin-right: 20px;
							    display: inline;}
		.footer_information dl dt{line-height: 19px;font-size: 12px;float: left;}
		.footer_information .weicht{width: 23px;
									height: 19px;
									float: left;
									margin-left: 10px;
									background:url(../img/icon_bg.png);
									background-size: auto 200px;
									position: relative;
									background-position: -90px -105px;}
		.footer_information dl .weicht div{position: absolute;
									    width: 130px;
									    height: 130px;
									    box-shadow: 0 0 10px #CCC;
									    left: -56px;
									    top: -140px;
									    display: none;}
		.footer_information .weicht div img{border: none;}
/*侧边固定联系客服*/
#lian{width: 65px;
    height: 66px;
    border-radius: 3px;
    background: #F8F8F8;
    position: fixed;
    bottom: 245px;
    right: 0px;
    display: none;
    font-size: 14px;
    cursor: pointer;
    color: #4A4A4A;
    z-index: 2;}
    #lian img{display: block;
			    width: 45px;
			    height: 45px;
			    margin-left: 10px;
			    margin-top: 12px;}
/*侧边返回顶部*/
#roof{width: 65px;
    height: 66px;
    border-radius: 3px;
    background: #F8F8F8;
    position: fixed;
    bottom: 170px;
    right: 0px;
    font-size: 14px;
    cursor: pointer;
    color: #4A4A4A;
    display: none;
    z-index: 2}
	#roof img{display: block;
			    width: 45px;
			    height: 45px;
			    margin-left: 10px;
			    margin-top: 12px;}
	#roof p{padding: 14px 0px;
		    line-height: 18px;
		    padding-left: 18px;
		    letter-spacing: 3px;
		    display: none;}
/*面包屑导航栏*/
.crumbs{width: 100%;
	    height: 55px;
	    background: #F8F8F8;
	    margin-bottom: 60px;}
	.crumbs .crumbs_center{width: 1150px;
						    margin: 0 auto;
						    line-height: 55px;}
